body {margin: 0;
      padding:0;
      background-color: lightblue;}

/*---------------------navbar styling--------------------*/

.navbar {margin: 0;
         padding: 0;
         background-color: black;}

.navbar-brand img { height: 40px;
                    margin-left:3px;
                    width: 170px;
                    border-radius: 3px;}

.nav-item {display: block;
            padding:0 5px; }

.nav-item a {text-decoration: none;
              display: block;
              font-size: 1.5em;
              margin: 0 25px;
              color: white;}

.navbar-toggler-icon {background-color: rgb(235, 228, 228);
                      border-radius: 5px;}

.navbar-toggler-icon > i {color:black; 
                          font-size:23px;}

.nav-item a:hover {color:blue;
                   font-size: 167%;}

 .current {background-color: rgba(235, 228, 228, 0.822);
          border-radius:8px;
          margin:5px 0}

/*...............home page...............*/

.table-heading {text-align: center;
                margin:15px;}

.table-centre { margin-left:auto; 
                margin-right:auto;}

.carousel-text{transform: translate();
               background: rgba(0, 0, 0, 0.4);}              

.carousel-item {height: 300px;}

.carousel-item img {background-repeat:no-repeat; }

.form-control {width: 150px;}

td {margin-top:2rem }

#myBtn {background-color: gray;
        color: white;
        border-radius: 1rem;
        margin-left: 50%;
        margin-right: 50%;
        margin-top: 1rem;}

.slidediv {margin-top: 5px;}

/*............... What-is-it page...............*/

.what-is-it {margin:10px;}

h3 {color: black;}

/*-------------Quiz Page------------------*/

.option-container { display: flex;
                    margin-bottom: 0.5rem;
                    width: auto;
                    height: auto;
                    border-radius: 18px;
                    font-size: 2rem;
                    border: 0.1rem solid rgb(86, 165, 235, 0.25);
                    background-color: rgb(236, 228, 228);}

.option-container:hover {transform: translateY(-0.1rem);
                         transition: transform 150ms;
                         cursor: pointer;
                         box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);}
                         
.question{margin: 5px;
         font-style: Courier;}

.option-answer {padding: 1.5rem;
                width: 100%;}

.correct { background-color: #008000;}

.incorrect { background-color: #ff0000;}

#hud {background-color: gray;
      display: flex;
      justify-content: space-between;}


.hud-prefix {text-align: center;
             font-size: 2rem;}
 
.hud-main-text {text-align: center;}

.kala {background-color: lightblue;
       margin-top: 50px;
       border-radius: 5px;}

.question {font-weight: 600;}

.answers {padding: 5px;
          margin-bottom: 10px;}

.answers label {display: block;}

/*-------------Modal Pop up------------*/

.modal { display: none; 
         position: fixed;
         z-index: 1; 
         padding-top: 100px; 
         left: 0;
         top: 0;
         width: 100%; 
         height: 100%; 
         overflow: auto;
         background-color: rgba(0,0,0,0.3);}


 .modal-content { background-color: #fefefe;
                  margin: auto;
                  padding: 20px;
                  color: white;;
                  width: 500px;
                  height: 120px;
                  transform: translate();
                  background: rgb(17, 17, 17);
                  border: 3px solid black;}

.close { color: #aaaaaa;
         float: right;
         font-size: 13px;
         font-weight: bold;}

.close:hover, .close:focus { color: #000;
                             text-decoration: none;
                             cursor: pointer;}

