@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {margin: 0;
      padding:0;
      background-color: #add8e6;}

/*---navbar styling---*/

.navbar {margin: 0;
         padding: 0;
         background-color: #000000;}

.navbar-brand img { height: 40px;
                    margin-left:3px;
                    width: 170px;
                    border-radius: 3px;}

.nav-item {display: block;
            padding:0 5px; }

.nav-item a {text-decoration: none;
              display: block;
              font-size: 1.5em;
              margin: 0 25px;
              color: #ffffff;}

.navbar-toggler-icon {background-color: rgb(235, 228, 228);
                      border-radius: 5px;}

.navbar-toggler-icon > i {color:#000000; 
                          font-size:23px;}

.nav-item a:hover {color:#0000ff;
                   font-size: 167%;}

 .current {background-color: rgba(235, 228, 228, 0.822);
          border-radius:8px;
          margin:5px 0}

/*---home page---*/

.table-heading {text-align: center;
                margin:15px;}

.table-centre { margin-left:auto; 
                margin-right:auto;}

.carousel-text{transform: translate();
               background: rgba(0, 0, 0, 0.4);
               z-index: 1; }              

.carousel-item {height: 300px;}

.slide {z-index: 1;}

.carousel {z-index: 1;}

.carousel-item img {background-repeat:no-repeat; }

.form-control {width: 150px;}

td {margin-top:2rem }

#myBtn {background-color: #808080;
        color: #ffffff;
        border-radius: 1rem;
        margin-left: 50%;
        margin-right: 50%;
        margin-top: 1rem;}

.slidediv {margin-top: 5px;}

/*---What-is-it page---*/

.what-is-it {margin:10px;}

h3 {color: #000000;}

/*---Quiz Page---*/

#quiz {margin-top: 1.5rem;}

.option-container { width: auto;
                    height: 100px;
                    margin-bottom: 0.4rem;
                    display: flex;
                    border-radius: 18px;
                    font-size: 2rem;
                    border: 0.1rem dotted #4fa5f04d;
                    background-color: #f0dbe4;}

.option-container:hover { cursor: pointer;
                         transition: transform 150ms;
                         transform: translateY(-0.1rem);}
                         
.question{margin: 15px 0;}

.option-answer {padding: 1.4rem;
               height: auto;
               font-family: 'Special Elite', cursive;
               width: 100%;}

.correct { background-color: #008000;}

.incorrect { background-color: #ff0000;}

#hud {background-color: #808080;
      margin-top: 1.5rem;  
      border-radius: 7px;
      display: flex;
      justify-content: space-between;}


.hud-prefix {text-align: center;
             font-size: 2rem;
             padding: 15px;
             color: #ffffff}
 
.display-score {text-align: center;
                padding: 5px;
                color: #ffffff}

.kala {background-color: #add8e6;
       margin-top: 50px;
       border-radius: 5px;}

#question {font-family: 'Mitr', sans-serif;}

.answers label {display: block;}

/*---Modal Pop up---*/

.modal { top: 0;
         width: 100%; 
         height: 100%; 
         color: #ffffff;
         display: none; 
         position: fixed;
         z-index: 3; 
         padding-top: 100px; 
         left: 0;
         overflow: auto;
         background-color: hsla(0, 0%, 0%, 0.3);}


 .modal-content { background-color: #fefefe;
                  margin: auto;
                  padding: 20px;
                  color: #ffffff;;
                  width: 500px;
                  height: auto;
                  transform: translate();
                  background: #808080;
                  border: 3px solid #000000;}

.close { color: #aaaaaa;
         float: left;
         font-size: 13px;
         font-weight: bold;}

.close:hover, .close:focus { color: #000;
                             text-decoration: none;
                             cursor: pointer;}

