.bgimage {background-image: url('https://www.nicepng.com/png/full/71-716400_figure-shows-the-parts-of-human-body-full.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;}

